.SignInHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 6%; */

    h1 {
        color: #380885;
    }

    span {
        color: #554cb8;
    }
}