@import 'sass/variables';
// @import 'sass/typography';
.Prob_Report{
    .Technical_Problem_Report{
        width: 35rem;
  height: 25px;
  margin: 32px 247px 37px 1px;
  font-family: "Muli Bold";
  font-size: 20px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #000000;
    }
.Report {
    display: flex;
    flex-direction: row;
    height: auto;
   
}
.ReportImg{
   
    width: 410px;
    max-height: 50vh;
    img{
      width: 100%;
      height: auto;
        margin: -19rem 0 0px -6rem;
        object-fit: contain;
    }
}
}
@mixin reset-button {
    width: 99px;
    height: 31px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Muli Bold';
    border-radius: 20px;
    color: white;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
.Form{
  width: -webkit-fill-available;
    .Row{
        display: flex;
        flex-direction: row;
        .Label{
            width: 9rem;
            height: 20px;
            margin: 0px 13px 44px 24px;
            font-family: 'Muli SemiBold';
            font-size: 16px;
            font-weight: 600;
            line-height: 1.25;
            text-align: left;
            color: $primary-color; 
        }
        input{
            width: 569px;
            height: 40px;
            margin: 0 0 24px 79px;
            border-radius: 5px;
            border: solid 1px #e4e4e4;
            background-color: #ffffff;
            padding-left: 1rem;
        }
        input:focus{
            border: solid 1px ;
            outline:1px solid #e4e4e4 ;
            border:none;
        } 
          .Wrapper{
            position: relative;
          }
          img{
            position: absolute;
            left: 606px;
            top: calc(74% - 0.5em); /* Keep icon in right of input, regardless of the input height */
          }
          textarea{
            width: 569px;
            height: 40px;
            margin: 0 0 2px 79px;
            border-radius: 5px;
            border: solid 1px #e4e4e4;
            background-color: #ffffff;
            // padding-left: 1rem;
            padding: 1rem;
        }
        textarea:focus{
            border: solid 1px ;
            outline:1px solid #e4e4e4 ;
            border:none;
        }
        .Discription{
            width: 569px;
            height: 165px;
            
         
        }
        .Buttons{
            margin: 0 0 24px 79px;
         display: flex;
         flex-direction: row;
            color: white;

            .Low_Buttons{
               @include reset-button;
                margin: 0 13px 0 0;
                padding: 2px 35px 6px 36px;
                background-color: #ffc95f;
                border: 2px solid #ffc95f;
            }  
          .Medium_Buttons{
            @include reset-button;
            margin: 0 14px 0 13px;
            padding: 4px 23px 6px;
            background-color: #64aad9;
            border: 2px solid #64aad9;
          }
          .High_Buttons{
            @include reset-button;
            margin: 0 0 0 14px;
            padding: 2px 33px 6px 34px;
            background-color: #ef271b;
            border: 2px solid #ef271b;
          }
        }
        .Captcha_Text{
            width: 13rem;
            height: 23px;
            margin: 10px -15px 44px 24px;
            font-family: "Muli Regular";
            font-size: 18px;
            font-weight: 600;
            line-height: 1.28;
            letter-spacing: normal;
            text-align: left;
            color: $primary-color; 
        }
       .Captcha{
        width: 17rem;
        height: 4rem;
        margin: 10px 88px 25px 67px;
        border-radius: 5px;
        border: solid 1px #707070;
        background-color: #ffffff;
       }
       .Captcha_Code {
        width: 14rem;
        height: 4rem;
        margin: 1rem 1rem 0rem 3rem;
        padding: 7px 26px 8px;
        border-radius: 5px;
        background-color: $primary-color;
      }
      
    }
    .Row_Send{
        display: flex;
        flex-direction: row-reverse;
      .Send{
          cursor: pointer;
            width: 85px;
            height: 24px;
            margin: .5rem 24rem .4rem 0rem;
            padding: .3rem 29.4px 4.8px 28.6px;
            border-radius: 50px;
            color: white;
            border: solid 2px #f16600;
            background-color:  #f16600;
            font-family: "Muli Bold";
            font-size: 11px;
            font-weight: bold;
            line-height: 1.27;
            text-align: left;
            color: #ffffff;
      }  
      }
}
