.header {
    display: flex;
    padding: 15px;
}

.header__logo {
    min-width: 200px;
    height: 8vh;
    background: url(../../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.header__headerMiddle {
    display: flex;
    min-width: 400px;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.header__headerRight {
    min-width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}