.Landing {
  margin: 0 auto;
  /* width: 128rem; */
  height: 80rem;
  position: relative;
  // background-image: linear-gradient(to bottom, #380885, #554cb8),
  background: linear-gradient(to bottom, #380885, #554cb8);

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

.LandingDiv {
  position: relative;
}

.backgroundImage {
  /* width: 128rem; */
  width: 100%;
  height: 73.7rem;
  position: absolute;
  top: 6rem;
  left: 0;
  background: url('./images/hero-image-x1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
