@import '../../assets/styles/sass/variables';

.Landing {
  margin: 0 auto;
  min-width: 100%;
  height: 100vh;
  position: relative;
  // // background-image: linear-gradient(to bottom, #380885, #554cb8),
  background: linear-gradient(to bottom, $primary-color, #554cb8);

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

.backgroundImage {
  width: 100%;
  height: calc(100vh);
  position: absolute;
  top: 0;
  left: 0;
  background: url('./images/hero-image-x1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
