.Landing {
  margin: 0 ;
  width: 100%;
  height: 80rem;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to bottom, #380885, #554cb8);

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
