@import '../../../assets/styles/sass/variables';

.AppStore {
  & p {
    color: $color-paragraph;
    padding: 2rem 0;
  }

  & a:first-of-type {
    margin-right: 2rem;
  }

  &--small {
    & p {
      color: $color-header;
      font-weight: bold;
    }

    & a:first-of-type svg {
      transform: scale(0.8) translateX(-2rem);
    }
    & a:last-of-type svg {
      transform: scale(0.8) translateX(-4rem);
    }
  }
}
