// Loading variables for styling

@import '../../../../assets/styles/sass/variables';
@import '../../../../assets/styles/sass/mixin';


.Navigation {
  box-sizing: content-box;
  top: 0;
  left: 0;
  font-family: $font-secondary;
  background-color: $primary-color;
  height: 4.4rem;
  @include center;
  // display: flex;
  padding: 3.4rem 4.4rem 0;
  // align-content: center;
  color: #ffffff;
  font-weight: 500;

  a{
    color: white;
    text-decoration: none;
  }
}

.logo {
  font-weight: normal;
  width: 8.2rem;
  line-height: 1.05;
  font-size: 1.9rem;  
}

.Nav {
  &Items,
  &igationSecond {
    width: 100%;
    margin-left: 5rem;
    @include center;
    // display: flex;
    height: 100%;
    // align-items: center;
    list-style: none;
  }
  &Item:not(:last-child) {
    padding-right: 3rem;
    line-height: 1.13;
  }
  &Item {
    @include center;
    img {
      padding-left: 0.5rem;
    }
  }
  
}

.NavigationSecond {
  justify-content: flex-end;
}
.NavSecondItem {
  padding: 0 2.5rem;
}
