// Loading variables for styling

@import '../../../../assets/styles/sass/variables';

.Navigation {
  box-sizing: content-box;
  top: 0;
  left: 0;
  font-family: $font-secondary;
  height: 4.4rem;
  display: flex;
  padding: 3.4rem 4.4rem 0;
  align-content: center;
  color: $color-body;
  font-weight: 500;
}
.logo {
  font-weight: 500;
  width: 8.2rem;
  line-height: 1.05;
  font-size: 1.9rem;
}

.Nav {
  &Items,
  &igationSecond {
    width: 100%;
    margin-left: 5rem;
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
  }
  &Item:not(:last-child) {
    padding-right: 3rem;
    line-height: 1.13;
  }
  &Item {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      padding-left: 0.5rem;
    }
  }
}

.NavigationSecond {
  justify-content: flex-end;
}
.NavSecondItem {
  padding: 0 2.5rem;
  cursor: pointer;
}
