@import 'sass/variables';

.Body {
  background-color: #E7E0F2;
  color: #380E84;
  border: 1px solid #CBBDDD;
  font-weight: bolder;
  width: 95%;
  height: 135px;
  margin: auto;
  padding: 10px 0px 0px 30px;
}
  