@import 'assets/styles/sass/variables';

.formCheckCont{
    margin: 1rem 0 1rem 0;
}

.formCheck{
    display: inline-block;
    min-height: 1.5rem;
    margin-bottom: .125rem;
    margin-right: 70px;
    font-size: 20px;
    color: $secondary-color-font;
    font-family: $font-bold;
    .formCheckedInput {
        color: $color-font !important;
        font-weight: bold;
    }
}

.formCheckInput{
    width: 22px;
    height: 22px;
    margin: 0 12px 2px 0;
    vertical-align: text-bottom;
    background-size: contain;
    border: 3px solid $secondary-color-font;
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    &:checked[type=radio],&:focus[type=radio] {
        background-image: url('../../../../assets/images/blackdot.svg') !important;
        background-size: 150%;
        background-position: center;
        border-color: $color-font;
        color: $color-font;
        outline: none;
    }
}