@import 'assets/styles/sass/variables';
.formCheckCont{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.formCheck{
    display: inline-block;
    min-height: 1.5rem;
    margin-bottom: .125rem;
    margin-right: .5rem;
}
.formCheckInput{
    width: 1em;
    height: 1em;
    margin: 6px;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    &:checked[type=radio],&:focus[type=radio]{
        background-image: url('../../../../assets/images/blackdot.svg') !important;
        background-color: #ffffff;
        border-color: #000000;
        outline: none;
    }
}


