*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  /* 1rem=10px */
  font-size: 62.5%;
  background-color: $background-color;
}

body {
  background-color: $background-color;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: $font, sans-serif;
}
