@font-face {
  font-family: 'Muli Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Muli-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Muli Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Italic'),
    url('./assets/fonts/Muli-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Muli ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Muli ExtraLight'),
    url('./assets/fonts/Muli-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Muli ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muli ExtraLight Italic'),
    url('./assets/fonts/Muli-ExtraLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Muli Light';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Light'),
    url('./assets/fonts/Muli-Light.woff') format('woff');
}

@font-face {
  font-family: 'Muli Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Light Italic'),
    url('./assets/fonts/Muli-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Muli SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Muli SemiBold'),
    url('./assets/fonts/Muli-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Muli SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muli SemiBold Italic'),
    url('./assets/fonts/Muli-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Muli Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Bold'),
    url('./assets/fonts/Muli-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Muli Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Bold Italic'),
    url('./assets/fonts/Muli-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Muli ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Muli ExtraBold'),
    url('./assets/fonts/Muli-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Muli ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muli ExtraBold Italic'),
    url('./assets/fonts/Muli-ExtraBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Muli Black';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Black'),
    url('./assets/fonts/Muli-Black.woff') format('woff');
}

@font-face {
  font-family: 'Muli Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Black Italic'),
    url('./assets/fonts/Muli-BlackItalic.woff') format('woff');
}

/* ubuntu-300 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff')
      format('woff'),
    /* Modern Browsers */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.svg#Ubuntu')
      format('svg'); /* Legacy iOS */
}
/* ubuntu-300italic - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.svg#Ubuntu')
      format('svg'); /* Legacy iOS */
}
/* ubuntu-regular - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg#Ubuntu')
      format('svg'); /* Legacy iOS */
}
/* ubuntu-italic - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.svg#Ubuntu')
      format('svg'); /* Legacy iOS */
}
/* ubuntu-500 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff')
      format('woff'),
    /* Modern Browsers */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.svg#Ubuntu')
      format('svg'); /* Legacy iOS */
}
/* ubuntu-500italic - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.svg#Ubuntu')
      format('svg'); /* Legacy iOS */
}
/* ubuntu-700 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff')
      format('woff'),
    /* Modern Browsers */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.svg#Ubuntu')
      format('svg'); /* Legacy iOS */
}
/* ubuntu-700italic - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.svg#Ubuntu')
      format('svg'); /* Legacy iOS */
}

body {
  font-family: $font;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-font;
}
