// variables for color

$secondary-color: #fff;
$primary-color: #3b0e8a;
$background-color:  #faf9fe;
$color-font: #000;
$gray-color:#707070;
$outline-color:#e4e4e4;
$high-color:#ef271b;
$timeline:#c1c1c1;
$medium-color:#64aad9;
$input-bg:#ebe7f3;
$low-color:#ffc95f;
$orange-color:#f16600;
$active-color:#2da231;

// variables for fonts
$font: 'Muli Regular', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;
