// variables for color

$secondary-color: #fff;
$primary-color: #3b0e8a;
$background-color:  #faf9fe;
$color-font: #000;

// variables for fonts
$font: 'Muli Regular', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;
