// variables for color

$color-white: #fff;
$color-font: #000;
$color-paragraph: #978fb6;
$color-header: #4a1d93;
$color-orange: #f16600;
$color-orange-light: #ff710c;
$color-gray: #faf9fc;
$gray-fontcolor:#707070;
$primary-color: #3b0e8a;
$background-color:  #faf9fe;
$error-color:red;



// variables for fonts
$font: 'Muli Regular', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;
