@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-8rem);
    }
    80%{
        transform: translateY(1rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(8rem);
    }
    80%{
        transform: translateY(-1rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(5rem);
        
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
