@import '../../../../assets/styles/sass/variables';

.section {
  font-family: $font !important;
  grid-column: 1 / -1;
  padding: 13.1rem;
  height: 50rem;

  &:nth-of-type(2n) {
    background: $background-color-1;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 48rem;
    margin-right: 10rem;
  }

  &__header {
    min-height: 11.1rem;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.22;
    text-align: left;
    color: $primary-color;
  }

  &__text {
    margin: 2rem 0 3.9rem 0;
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: $text-color;
  }

  &__btn {
    width: 15rem;
    height: 3.5rem;
    border-radius: 1.8rem;
    background-color: $secondary-color;
    border: none;
    font-family: $font;
    font-size: 1.6rem;
    text-align: center;
    color: white;
    cursor: pointer;
  }

  &__asset {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 36rem;
  }

  &__android {
    width: 17rem;

    object-fit: contain;
  }

  &__apple {
    width: 17rem;
    object-fit: contain;
  }

  .finalImage {
    position: relative;
    bottom: 6rem;
  }
}
