.ProfileDiv {
    width: 95%;
    margin: auto;
    margin-top: 3%;
}

.ProfileDetailsDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    // position: relative;
}

.FloatingGirl {
    // position: absolute;
    // top: -1000%;
    margin-top: -16%;
}