.SignInBtn {
    border: none;
    background-color: #fd4500;
    color: #ffffff;
    padding: 2.5% 15%;
    border-radius: 20px;
    margin-left: 60%;
    cursor: pointer;
    margin-bottom: 5%;
}

.SignInBtn:focus {
    outline: none;
}

#ContinueBtn {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 25%;
}