.SignInInformationProfile {
    margin-left: 10%;
    margin-top: 10%;

    h2 {
        margin-bottom: 2%;
    }
}

.Heading {
    font-weight: bold;
    color: #858587;
    font-size: 18px;
}

.ProfileDiv {
    display: flex;
    margin-left: 5%;
    margin-bottom: 7%;

    &Label {
        color: #3a1286;
        font-weight: bold;
        width: 50%;
    }

    &Content {
        color: #858587;
    }
}

.SignInMethod {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #c1b8d4;
    border-radius: 5px;
    width: 60%;

    &InnerDiv {
        display: flex;
        margin-right: 3%;
    }
}

.SignInDivContent {
    display: flex;
    width: 50%;
    justify-content: space-between;
    color: #3a1286;
    font-weight: bold;
}