.Hero {
  padding-top: 9.9rem;

  &MainHeading {
    margin: 0 auto;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.22;
    color: #ffffff;
    width: 46.6rem;
    text-align: center;
  }
  &SecondaryHeading {
    line-height: 3.06;
    letter-spacing: normal;
    text-align: center;
    color: #b2a9d5;
    padding-top: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}
