//App.css
/* MODAL */
/* Background effect. It covers the entire site */
.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 1; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
}
/* Modal content */
.ModalContentDiv {
    background-color: white;
    width: 70%; /* Width in proportion to its parent container*/
    max-width: 640px; /* Max width where it stops expanding */
    height: 65%; /* Height in proportion to its parent container */
    margin: auto; /* Auto margin according to the element width */
    border-radius: 6px;
}

.ModalHeading {
    display: flex;
    align-items: center;
    position: relative;
    height: 15%;
    background-color: #f2f2f2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    &Text {
        font-size: 30px;
        font-weight: 600;
        color: #000000;
        margin: auto;
    }

    .close {
        color: #000000;
        position: absolute;
        right: 5%;
        font-size: 40px;
        font-weight: bold;

        &:hover, &:focus {
            color: rgb(226, 11, 11);
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.ModalContentHeading {

    .Static {        
        margin-top: 2%;
    }

    .Static, .FairlyStatic {
        text-align: center;
        font-weight: 600;

        .Grey {
            color: #aaaaaa;
        }

        .Purple {
            color: #380885;
        }
    }

    .SignInImage {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
}

.FingerPrint {
    width: 20%;
    border: 1px solid #aaaaaa;
    border-radius: 50%;
    padding: 5%;
}

.FaceId {
    width: 20%;
    border-radius: 50%;
}

.QrCode {
    width: 20%;
}

.Sensor {
    text-align: center;
    display: block;
}

.CancelOrSignIn {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-top: 4%;
    justify-content: space-evenly;

    .SignInBtn {
        border: none;
        background-color: #fd4500;
        color: #ffffff;
        padding: 2% 10%;
        border-radius: 20px;
        cursor: pointer;
    }
    
    #Cancel {
        color: #fd4500;
        cursor: pointer;
    }
}

.Hide {
    display: none;
}

.SuccessText {
    color: green;
    font-weight: 600;
    display: block;
    text-align: center;
    margin-top: 1%;
}

.CheckMarkIcon {
    width: 25%;
}
