@import './variables';
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* 1rem=10px */
}

body {
  background-color: $color-body;
  font-weight: 400;
  background: $color-body;
  box-sizing: border-box;
  font-family: $font;
  width: 128rem;
  margin: 0 auto;
}
.row {
  margin: 0 auto;
  width: 120.9rem;
}
.spacer {
  flex: 1;
}
