$font-heading: 'Playfair Display SC', serif;
$font: 'MuliRegular';

// colors

$color-body: #faf9fe;

$color-1: #393130;
$color-1--dark: #0b0909;
$color-1--light: #83706e;
$color-1--lightest: #c2b8b7;

$color-2: #82624b;
$color-2--dark: #372920;
$color-2--light: #b5957e;
$color-2--lightest: #e6dcd4;

$color-3: #6b8b9f;
$color-3--dark: #4e6878;
$color-3--light: #94abba;
$color-3--lightest: #f1f4f6;

$font-color: $color-1--dark;
$font-color--light: $color-3--lightest;
