.input:focus {
    outline: none;
    border-bottom: 1px solid #380885;
}

.LabelAsterisk {
    position: absolute;
    color: grey;
}

.Label {
    cursor: auto;
}

.input {
    border: none;
    border-bottom: 1px solid #74648d;
    padding-bottom: 2.5%;
    font-size: 1.5rem;
    width: 100%;
}

.InputDiv {
    position: relative;
    /* margin-bottom: 5%; */
    margin-top: 4%;
}

.AsteriskInput::after {
    content:" *"; 
    color: #ff0000;
    position: absolute; 
}
