@import '../../assets/styles/sass/variables';

.WelcomeHeading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6%;

    h1 {
        color: #380885;
        margin-bottom: 5%;
    }

    span {
        color: #554cb8;
    }
}

.FieldDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;

    .LeftDiv, .RightDiv {
        display: flex;
        flex-direction: column;
        width: 45%;
    }
}

#ContinueBtn {
    margin-top: 5%;
    border: none;
    background-color: #fd4500;
    color: #ffffff;
    padding: 2.5% 15%;
    border-radius: 20px;
    margin-left: 60%;
    cursor: pointer;
    margin-bottom: 5%;
}

#ContinueBtn:focus {
    outline: none;
}

.CheckBoxDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .CheckBoxSpan {
        width: 92%;
        font-size: 15px;
    }
}

.recaptchaDiv {
    display: flex;
    background-color: #f2f2f2;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
    margin-top: 3%;
    width: 75%;
    margin-bottom: 5%;

    img {
        width: 15%;
    }
}

.recaptchaInnerDiv {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.Error {
    color: red;
    font-size: 12px;
    font-weight: 600;
}