.card-nav{
    list-style: none;
    display: grid;
    gap: 2rem;
    padding: 2rem .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    grid-template-columns: repeat(8, max-content);
    
    &__item{
        transition: all .3s;

        
        &:link,
        &:visited{
            color: $primary-color-light-1;
            text-decoration: none;
        }
        
        &:hover{
            color: black;
            padding-bottom: .5rem;
            border-bottom: .3rem solid $secondary-color;
        }
    }
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 2rem;
}

.card{
    background-color: #00000029;

    &__img{
        width: 100%;
        object-fit: cover;
    }

    &__details{
        padding: 1rem;
    }

    &__subHeading{
        font-size: .8rem;
    }

    &__text{
        color: $primary-color-dark;
        margin: 1rem 0;
    }

    &__creator{
        display: flex;
        align-items: center;

        &--name{

        }

        &--date{
            font-size: .8rem;
        }

        &--img{
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: .3rem;
        }
    }

    &__controls{
        display: flex;
        justify-content: space-between;
        margin: 2rem 0 1rem 0;
        align-content: center;
        align-items: center;

        &--btn{
            background: $primary-color;
            color: white;
            padding: .5rem 3rem;
            outline: none;
            border: none;
            border-radius: 1rem;

            &:hover{
                cursor: pointer;
            }
        }

        &--action{
            display: flex;
        }

        &--down{
            color: $primary-color;
            align-self: center;
            margin-left: .2rem;
        }


        &:hover{
            cursor: pointer;
        }
    }
}