.footer {
    width: 1280px;
    height: 191px;
    margin: 88px 0 0;
    padding: 30px 125px 39px;

    &__logo {
        width: 170px;
        height: 60px;
        margin: 0 178px 23px 0;
        object-fit: contain;
    }

    &__copyright {
        width: 250px;
        height: 15px;
        margin: 34px 167px 0 0;
        font-size: 14px;
        line-height: 2.08;
        text-align: left;
        color: #7f75a5;
    }
}
