.section {
    grid-column: 1 / -1;

    &__header {
        width: 500px;
        height: 111px;
        margin: 131px 141px 10px 126px;
        font-family: Muli;
        font-size: 45px;
        font-weight: bold;
        line-height: 1.22;
        text-align: left;
        color: #380688;
    }

    &__text {
        width: 415px;
        height: 76px;
        margin: 10px 138px 10px 125px;
        font-family: Muli;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        text-align: left;
        color: #7f75a5;
    }

    &__btn {
        width: 150px;
        height: 35px;
        margin: 30px 402px 97px 126px;
        padding: 9px 24px 8px;
        border-radius: 18px;
        background-color: #f16600;
        border: none;
        offset: none;
        font-size: 16px;
        line-height: 1.13;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
    }

    &__asset{
        margin: 30px 141px 10px 126px;
    }

    &__android {
        width: 170px;
        height: 55px;
        margin: 16px 20px 0 0;
        object-fit: contain;
    }

    &__apple {
        width: 170px;
        height: 55px;
        margin: 16px 20px 0 0;
        object-fit: contain;
    }
}
