.SocialNetworkProfile {
    margin-left: 10%;
    margin-top: 10%;

    h2 {
        margin-bottom: 2%;
    }
}

.Heading {
    font-weight: bold;
    color: #858587;
    font-size: 18px;
}

#LinkedIn {
    background-color: #0b77ae;
}

#GooglePlus {
    background-color: #de4b39;
}

#FaceBook {
    background-color: #47569b;
}

#Instagram {
    background-color: #f66301;
}

#Twitter {
    background-color: #50abf1;
}

.SocialLinkButton {
    border: none;
    border-radius: 5px;
    width: 30%;
    height: 45px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 5%;

    &Icon {
        width: 30%;

        i {
            font-size: 25px;
        }

        img {
            width: 50%;
            display: inline-block;
            margin-top: 10%;
        }
    }

    &Content {
        font-size: 16px;
        margin-top: 3%;
        margin-left: 3%;
    }
}