.Header {
  height: 100px;
  padding-top: 27px;
  padding-bottom: 16px;
  padding-left: 35px;
  display: flex;
  position: relative;
  justify-content: space-between;
  &_LogoSvgIcon {
    display: block;
    margin-right: 5.8%;
    height: 100%;
  }
  &_middleContainer {
    display: flex;
    width: 62.5%;
    margin: auto;
    nav {
      color: #3b0e8a;
      font-size: 20px;
      margin: auto auto;
      position: relative;
      display: flex;
      width: max-content;
    }
  }
  &_iconsContainer {
    display: flex;
    margin: auto 20px;
    width: max-content;
    height: 100%;
    img {
      height: 80%;

      max-height: 41px;
      max-width: 41px;
      margin: auto 10px;
    }
  }
  &_arrow {
    margin: auto 0px auto 20px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1150px) {
  .Header {
    height: 90px;
    &_LogoSvgIcon {
      margin-right: 4.6%;
    }
    &_middleContainer {
      width: 62.5%;
      nav {
        font-size: 19px;
      }
    }
    &_iconsContainer {
      margin: auto 20px;
      img {
        margin: auto 10px;
      }
    }
    &_arrow {
      margin: auto 0px auto 20px;
      cursor: pointer;
    }
  }
}

@media (max-width: 992px) {
  .Header {
    height: 85px;
    &_LogoSvgIcon {
      margin-right: 4%;
    }
    &_middleContainer {
      width: 65%;
      nav {
        font-size: 18px;
      }
    }
    &_iconsContainer {
      margin: auto 20px;
      img {
        margin: auto 10px;
        cursor: pointer;
      }
    }
    &_arrow {
      margin: auto 0px auto 20px;
      cursor: pointer;
    }
  }
}