.SubHeader {
    background-color: #e7e0f2;
    border: 1px solid #cbb7de;
    position: relative;
    margin-top: 1%;
    /* height: 140px; */
    padding: 2.2% 0;
}

.GreetingDiv {
    display: flex;
    flex-direction: column;
    margin-left: 5%;

    .WelcomeText {
        color: #3a1286;
        font-size: 35px;
        font-weight: 900;
    }
    
    .InformationText {
        color: #3a1286;
        font-weight: 400;
        font-size: 20px;
    }
}

.WomanInProfile {
    position: absolute;
    top: 0;
    left: 70%;
}
