.NavHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LogoDiv {
    width: 20%;
}

.NavDiv {
    width: 60%;
}

.NavDiv ul {
    display: flex;
    justify-content: space-between;
}

.IconsDiv {
    display: flex;
    justify-content: space-around;
    width: 12%;
}

.IconsDiv img {
    display: block;
    width: 17%;
}

.NavDiv ul li {
    list-style: none;
}

.NavLink {
    color: #380885;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.LinkWithChevron {
    display: flex;
    align-items: center;
}

.ChevronDownIcon {
    margin-left: 5%;
}

.IconsDiv .ProfileImage {
    width: 27%;
}