
.Heading {
    font-weight: bold;
    color: #858587;
    font-size: 18px;
}

.ContactInformationProfile {
    margin-left: 10%;
    margin-top: 10%;

    h2 {
        margin-bottom: 2%;
    }
}

.ProfileDiv {
    display: flex;
    margin-left: 5%;
    margin-bottom: 7%;

    &Label {
        color: #3a1286;
        font-weight: bold;
        width: 50%;
    }

    &Content {
        color: #858587;
    }
}