@import 'assets/styles/sass/variables';

.d100 {
  font-family: $font;
  padding-top: 25px;

  .table{
    border-collapse: collapse;
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: $background-color;
    border: $table-border;

    thead{
      border-bottom: $table-border;
      th {
        font-size: 18px;
        font-weight: bold;
        padding: 15px;
        text-align: left;
      }
    }

    tbody {
      tr {
        position: relative;
        display: table-row;

        td{
          font-size: 14px;
          text-align: left;
          color: $secondary-color-font;
          padding: 15px 15px 15px 20px;
          
          img {
            display: inline-block;
            vertical-align: middle;
            margin: 5px;
          }
          &.submissions{
            text-decoration: underline;
          }
          &.green{
            color: $status-accepted-color;
          }
          &.orange{
            color: $status-pending-color;
          }
          &.red{
            color: $status-denied-color;
          }
        }
      }

      tr:after {
        position: absolute;
        width: 98%;
        content: '';
        border-bottom: $table-border;
        left: 1%;
        bottom: 1%;
        margin: 0px auto;
      }
    }

    tfoot {
      tr {
        td {
          div {
            font-size: 16px;
            display: flex;
            justify-content: center;
            font-weight: bold;
            padding-top: 25px;
            padding-bottom: 25px;
            color: $page-unavailble;
            
            &.orange{
              color: $page-availble !important;
            }

            svg {
              margin: 6px 6px 0 6px;
              
              &.orange{
                path {
                  stroke: $page-availble !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .d90{
    display: inline-block;
    width: 90%;
    word-wrap: break-word;
    word-break: break-all;
  }
}