.ProfileEditDiv {
    width: 70%;
    margin-bottom: 15%;
}

.ProfileHeading {
    display: flex;
    justify-content: space-between;
}

.ProfileHeadingText {
    font-weight: bold;
    font-size: 20px;
}

.ProfileEditInput, .ProfileEditSelect {
    border: 1px solid #929292;
    border-radius: 5px;
}

.ProfileEditInput {
    height: 35px;
    width: 100%;
}

.ProfileEditSelect {
    height: 40px;
    width: 125%;
}

.CaretSelectEdit {
    position: absolute;
    left: 105%;
    top: 40%;
    cursor: pointer;
    width: 15%;
    pointer-events: none;
}

.SelectDivProfileEdit {
    position: relative;
}

.ProfileEditSelect {
    padding: 5px;
}

.InputDivEditProfile {
    width: 60%;
}

.NickNameInputLabel {
    color: #3a1286;
    font-weight: bold;
    margin-left: 15%;
}

.PhotoOptions {
    background: #ffffff;
    color: #929292;
    
}

.NickNameFormEdit {
    margin-left: 10%;
    margin-top: 5%;
}

.NickNameFormDiv {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.ImageAndNick {
    width: 35%;
    display: flex;
    align-items: center;
}

.ImageDiv {
    position: relative;
}

#ChangeImage {
    color: #fd4500;
    font-weight: bold;
    position: absolute;
    top: 90%;
    left: 17%;
    cursor: pointer;
}

.Heading {
    font-weight: bold;
    color: #858587;
    font-size: 18px;
}

.InformationFormEdit {
    margin-left: 10%;
    margin-top: 5%;

    h2 {
        margin-bottom: 2%;
    }
}

.EditProfileForm {
    display: flex;
    margin-left: 5%;
    margin-bottom: 7%;

    &Label {
        color: #3a1286;
        font-weight: bold;
        width: 35%;
        position: relative;
    }

    &Content {
        color: #858587;
        width: 60%;
    }
}

.AsteriskInput::after {
    content:" *"; 
    color: #ff0000;
    position: absolute; 
}

.MonthAndDate {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.SocialNetworkFormEdit {
    margin-left: 10%;
    margin-top: 10%;

    h2 {
        margin-bottom: 2%;
    }
}

#LinkedIn {
    background-color: #0b77ae;
}

#GooglePlus {
    background-color: #de4b39;
}

#FaceBook {
    background-color: #47569b;
}

#Instagram {
    background-color: #f66301;
}

#Twitter {
    background-color: #50abf1;
}

.SocialLinkButton {
    border: none;
    border-radius: 5px;
    width: 30%;
    height: 45px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 5%;

    &Icon {
        width: 30%;

        i {
            font-size: 25px;
        }

        img {
            width: 50%;
            display: inline-block;
            margin-top: 10%;
        }
    }

    &Content {
        font-size: 16px;
        margin-top: 3%;
        margin-left: 3%;
    }
}

.UpdateBtn {
    border: none;
    background-color: #fd4500;
    color: #ffffff;
    padding: 2% 10%;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10%;
    float: right;
}

.UpdateBtn:focus {
    outline: none;
}